<html>
    <head>
        <title>Todo List</title>
        <script type="text/JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" ></script>
        <script type="text/javascript" src="/assets/todolist.js"></script>
        <link href="/assets/styles.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <h1>My Todo List</h1>
        <div id="todo-table">
            <form method="POST">
                <input type="text" name="item" placeholder="Add new item to the list..." required />
                <button type="submit">Add Item</button>
            </form>
            <ul>
                <% for(var i=0;i<todos.length;i++){ %>
                <li><%=todos[i].item%></li>
                <% } %>
                
            </ul>
        </div>
    </body>
</html>